html {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 14px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #595959;;
  overflow-y: hidden;
}
body{
  margin: 0px !important;
  padding: 0px !important;
  overflow-y: hidden;
}
p{
  margin: 0px;
}
.moon-container{

}
.moon-top-menu{
  height: 60px;
  width: 100%;
  top: 0px;
  z-index: 1200;
  border-bottom: 1px solid #dcdee2;
  box-shadow: 0 4px 4px rgba(0,21,41,.08);
  transition: all .2s ease-in-out;
  background: rgb(140, 197, 255);
  background-image: linear-gradient(to right, rgb(179, 216, 255) , rgb(140, 197, 255));
}
.moon-left-menu{
  border-right: 1px solid #dcdee2;
  overflow-y: auto;
  float: left;
  box-shadow: 1px 0px 4px rgba(0,21,41,.08);
  position: relative;
  background: rgb(140, 197, 2555);
  background-image: linear-gradient(to bottom, rgb(179, 216, 255) , rgb(140, 197, 255));
  padding: 10px 10px;
  position: relative;
  transition: all .2s ease-in-out;
}
.custom-popover{
  background: rgb(140, 197, 255);
  background-image: linear-gradient(to bottom, rgb(179, 216, 255) , rgb(140, 197, 255));
  padding: 5px 0px;
}
/*.moon-left-menu:not(.el-menu--collapse) {
  width: 200px;
}*/
.moon-right-menu{
  background: #EBEEF5;
}
.moon-clearfix{
  clear: both;
}
.moon-top-logo{
  width: 200px;
  height: 100%;
  position: relative;
  text-align: center;
}
.moon-top-middle-menu{
  margin: 0px 100px 0px 200px;
  height: 100%;
  text-align: left;
}
.moon-top-right{
  height: 100%;
  width: 100px;
  position: relative;
  text-align: right;
}
.moon-right-item-menu{
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #dcdee2;
  padding: 0px 5px;
  background: #FFFFFF;
}
.moon-right-content{
  overflow-y: hidden;
  padding: 0px 0px;
  position: relative;
}
.moon-left-collapse{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #F2F6FC;
}
.moon-menu-toggle-main{
  position: relative;
  width: 100%;
  right: 10px;
  bottom: 0px;
  text-align: right;
  margin-top: 5px;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.font-size-12{
  font-size: 12px;
}
.font-size-14{
  font-size: 14px;
}
.font-size-15{
  font-size: 15px;
}
.font-size-16{
  font-size: 16px;
}
.font-size-17{
  font-size: 17px;
}
.font-size-18{
  font-size: 18px;
}
.font-size-19{
  font-size: 19px;
}
.font-size-20{
  font-size: 20px;
}
.color-grand{
  color: #409EFF;
}
.color-success{
  color: #67C23A;
}
.color-warning{
  color: #E6A23C;
}
.color-danger{
  color: #F56C6C;
}
.color-muted{
  color: #909399;
}
.color-grand{
  color: #409EFF;
}
.color-disabeld{
  color: #C0C4CC;
}
.color-white{
  color: #ffffff;
}
.bg-success{
  background: #67C23A;
}
.margin-right-5{
  margin-right: 5px;
}
.margin-right-10{
  margin-right: 10px;
}
.margin-top-5{
  margin-top: 5px;
}
.margin-top-10{
  margin-top: 10px;
}
.margin-top-20{
  margin-top: 20px;
}
.margin-bottom-10{
  margin-bottom: 10px;
}
.padding-top-5{
  padding-top: 5px;
}
.padding-tb-5{
  padding-top: 5px;
  padding-bottom: 5px;
}
.padding-lr-5{
  padding-left: 5px;
  padding-right: 5px;
}
.padding-lr-10{
  padding-left: 10px;
  padding-right: 10px;
}
.width-100{
  width: 100px;
}
.width-150{
  width: 150px;
}
.width-200{
  width: 200px;
}
.width-260{
  width: 260px;
}
.width-300{
  width: 300px;
}
.line-height{
  background: #EBEEF5;
  height: 1px;
  margin: 10px 0px;
}
.moon-content-text-ellipsis-class{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}
.detail-card .title-class{
  position: relative;
  top: -5px;
}
.tag-min-div{
  width: 10px;
  padding:3px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  font-size: 12px;
  line-height: 15px;
  background: rgb(253, 246, 236);
}
/*****/
.el-menu {
  border-right: solid 0px #e6e6e6;
  list-style: none;
  position: relative;
  margin: 0;
  padding-left: 0;
  background-color: #FFF;
}
.detail-card .el-card__header {
  padding: 8px 5px;
  border-bottom: 1px solid #EBEEF5;
  box-sizing: border-box;
}
.detail-group-card .el-card {
  border: 1px solid #EBEEF5;
  background-color: #FFF;
  color: #303133;
  transition: .3s;
  margin-bottom: 10px;
}
.custom-dialog .el-dialog__header {
  padding: 0px 0px 0px 0px;
  height: 40px;
  line-height: 40px;
}
.custom-dialog .el-dialog__body {
  padding: 25px 15px;
  color: #606266;
  font-size: 14px;
  word-break: break-all;
}
.custom-dialog .el-dialog__footer {
  padding: 0px 0px 0px 0px;
  text-align: right;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
}
.custom-dialog .dialog-title{
  font-size: 14px;
  font-weight: bold;
  padding: 0px 10px 0px 10px;
}
.custom-dialog .el-dialog__headerbtn {
  position: absolute;
  top: 12px;
  right: 10px;
  padding: 0;
  background: 0 0;
  border: none;
  outline: 0;
  cursor: pointer;
  font-size: 16px;
}
.custom-dialog .el-dialog {
  position: relative;
  margin: 0 auto 50px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  box-sizing: border-box;
  width: 300px;
}
ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.custom-drawer{
  background: rgba(217, 236, 255, 0.95);
  margin-top: 60px;
}
.el-drawer:focus {
  outline: none;
}
.custom-user-popover{
  padding: 0px 0px;
  background: rgba(236, 245, 255, 1);
  font-size: 12px;
}
#version-info .el-card__header {
  padding: 15px 10px;
  border-bottom: 1px solid #EBEEF5;
  box-sizing: border-box;
}
.layout-left-menu{
  width: 200px;
  border-right: 1px solid #E4E7ED;
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  height: 100%;
  background-color: #fff;
  z-index: 10;
  transition: -webkit-transform 218ms;
  transition: transform 218ms;
  transition: transform 218ms,-webkit-transform 218ms;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
}
.layout-left-menu-tag{
  display: inline-block;
  background: #409EFF;
  width: 5px;
  height: 20px;
  border-radius: 2px;
}
.layout-right-menu{
  margin-left: 200px;
  padding: 8px;
  position: relative;
}
.layout-left-menu-title{
  position: relative;
  top: -6px;
  background: #E6A23C;
  padding: 3px 5px;
  font-size: 12px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: #FFFFFF;
}
.layout-menu-title{
  position: relative;
  top: -5px;
  left: -18px;
  background: #E6A23C;
  padding: 3px 5px;
  font-size: 12px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: #FFFFFF;
}
.custom-table-cell-bg{
  background: #F2F6FC !important;
}
.layout-right-tab{
  background: #FFFFFF;
  height: 45px;
  line-height: 45px;
  padding: 0px 10px;
  border-bottom: 1px solid #F2F6FC;
}
.layout-right-footer{
  height: 40px;
  line-height: 40px;
  background: #FFFFFF;
  width: 100%;
}
.layout-pagination{
  position: relative;
  top: 5px;
}
.layout-top-tab{
  height: 60px;
  line-height: 60px;
  background: #FFFFFF;
  padding: 0px 10px;
}
/**树形菜单**/
.tree-container{
  background: #ffffff;
  height: 35px;
  user-select: none;
  color: #595959;
  padding: 4px 0px;
}
.tree-container_item{
  display: flex;
  align-items: center;
  padding: 0px 4px;
  width: 100%;
  height: 35px;
  border-radius: 4px;
  cursor: pointer;
}
.tree-container_icon{
  width: 22px;
  text-align: center;
  display: inline-block;
  margin-right: 5px;
}
.tree-container_content {
  flex-grow: 1;
  color: #595959;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tree-container_right{
  margin-left: 5px;
  padding-right: 12px;
}
/***dialog***/
.custom-normal-dialog{
  background: rgba(238,238,238, 0.7);
  box-shadow: 1px 1px 0px 1px rgba(51,51,51, 0.5);
  z-index: 1;
}
.custom-normal-dialog::after {
  content: '';
  background: rgba(255,255,255, 0.99);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.custom-normal-dialog .el-dialog__header{
  padding: 0px;
}
.custom-normal-dialog .dialog-normal-title{
  border-bottom: 1px solid #EBEEF5;
}
.custom-normal-dialog .dialog-normal-header{
  padding: 15px 15px;
}
.custom-normal-dialog .dialog-normal-close{
  padding: 12px 15px;
}
.custom-normal-dialog .el-dialog__footer{
  padding: 0px 0px;
  text-align: right;
}
.custom-normal-dialog .dialog-normal-footer{
  padding: 12px 10px;
  border-top: 1px solid #EBEEF5;
}
.custom-normal-dialog .dialog-normal-header .title{
  font-size: 15px;
  font-weight: bold;
}
.custom-normal-dialog .dialog-normal-header .subTitle{
  font-size: 13px;
  color: #999999;
}
.custom-normal-dialog .el-dialog__body{
  padding: 10px 15px;
}
.custom-normal-dialog .dialog-normal-body{

}
/***drawer***/
.drawer-normal-drawer{
  background: rgba(238,238,238, 0.6);
  box-shadow: -1px 0px 2px 0px rgba(0,0,0, 0.5);
  z-index: 1;
}
.drawer-normal-drawer::after {
  content: '';
  background: rgba(255,255,255, 0.8);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.drawer-normal-drawer .drawer-normal-header{
  height: 40px;
  line-height: 40px;
  padding: 0px 10px;
}
.drawer-normal-drawer .title{
  font-size: 15px;
  font-weight: bold;
}
.drawer-normal-drawer .el-drawer__header {
  align-items: center;
  color: #72767b;
  display: flex;
  margin-bottom: 0px;
  padding: 0px 0px;
  border-bottom: 1px solid #E4E7ED;
}
.drawer-normal-drawer .drawer-normal-close{
  height: 40px;
  line-height: 40px;
  padding: 0px 10px;
}
.drawer-normal-drawer .drawer-normal-body{
  padding: 10px 10px;
  overflow-y: auto;
}
.drawer-normal-drawer .content{

}
.drawer-normal-drawer .drawer-normal-footer{
  height: 40px;
  line-height: 40px;
  text-align: right;
  padding: 0px 10px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid #E4E7ED;
}
.custom-upload{
  background: transparent;
}
.custom-upload .el-upload-dragger {
  background-color: #fff;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  box-sizing: border-box;
  width: 380px;
  height: 180px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
/***loading***/
.custom-g-loading .el-icon-loading{
  font-size: 32px;
}
.custom-g-loading .el-loading-text{
  font-size: 15px;
}
/**自定义tree**/
.custom-el-tree{

}
.custom-el-tree .tree-container {
  height: 35px;
  color: #606266;
  padding: 0px 0px;
}
.custom-el-tree .el-tree{
  background: none;
  padding: 0px 0px;
  color: #606266;
}
.custom-el-tree .el-tree-node__content{
  padding: 4px 0px;
}
.custom-el-tree .el-tree-node {
  white-space: nowrap;
  outline: 0;
}
.custom-el-tree .el-tree-node__children .el-tree-node__content{

}
/***自定义radio组件颜色***/
/*.el-radio__input.is-checked + .el-radio__label {
  color: #fd7624 !important;
}
.el-radio__input.is-checked .el-radio__inner {
  background: #fd7624 !important;
  border-color: #fd7624 !important;
}
.el-radio__input.is-disabled+span.el-radio__label {
  color: #C0C4CC !important;
  cursor: not-allowed !important;
}
.el-radio__input.is-disabled+span.el-radio__inner {
  color: #C0C4CC !important;
  cursor: not-allowed !important;
}
.el-radio__input.is-disabled.is-checked + .el-radio__label {
  color: #C0C4CC !important;
}
.el-radio__input.is-disabled.is-checked .el-radio__inner {
  background: #F5F7FA !important;
  border-color: #E4E7ED !important;
}
.el-radio.is-bordered.is-checked {
  border-color: #fd7624 !important;
}
.el-radio.is-bordered.is-disabled {
  cursor: not-allowed !important;
  border-color: #E4E7ED !important;
}*/
